@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Flight Info</h1>
</div>
<div class="div-centered">
    <p class = "paragraph">
        FlightInfo è una webapp che permette di effettuare ricerche 
        sugli aereomobili mediante il loro callsign o il codice ICAO 
        da 24-bit. <br/>
        La API REST che offre tale servizio 
        è https://airplanes.live/api-guide/
    </p>
</div>
