@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FlightInfo: servizio SOAP</h1>
    <p> FlightInfo consente di ottenere le informazioni di 
        un aeromobile in volo effettuando la ricerca attraverso il callsign o il suo codice ICAO.
            <br/> <br/>
            <b>FlightInfo non raccoglie direttamente i dati </b> ma fornisce una interfaccia grafica
            e user friendly per interagire con il servizio <a href="https://airplanes.live">https://airplanes.live</a> che
            mette a disposizione le informazioni raccolte dai suoi utenti volontari 'feeder' mediante interfaccia REST senza
            necessità di autenticazione o pagamenti (ma con limitazioni).
    </p>
    
</div>
